:root {
  --light-gray: #e9ecef;
  --dark-gray: #121212;
  --light-purple: #bb86fc;
}

/* Global Styles
========================= */

body {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

/* Typography
========================= */